@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Noto+Sans+TC&display=swap");
.big-btn-sand {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #beb19e;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
}
.big-btn-sand:hover {
  color: #938063;
}

.big-btn-wine {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #7f1023;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
}
.big-btn-wine:hover {
  color: #24050a;
}

.big-btn-gray {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #322d26;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
}
.big-btn-gray:hover {
  color: black;
}

.small-btn-sand {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #beb19e;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
  font-size: clamp(13px, 2vw, 14px);
}
.small-btn-sand:hover {
  color: #938063;
}

.small-btn-wine {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #7f1023;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
  font-size: clamp(13px, 2vw, 14px);
}
.small-btn-wine:hover {
  color: #24050a;
}

.small-btn-gray {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: "DM Sans", sans-serif;
  color: #322d26;
  transition: 0.3s;
  font-size: clamp(18px, 3vw, 24px);
  font-size: clamp(13px, 2vw, 14px);
}
.small-btn-gray:hover {
  color: black;
}

.event-card .img-wrap {
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
}
.event-card .img-wrap img {
  width: 100%;
}
.event-card .img-wrap .book-now {
  position: absolute;
  display: flex;
  width: 100%;
  height: 40px;
  bottom: -40px;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.7);
  transition: bottom 0.3s ease-in-out;
}
.event-card .img-wrap .card-ribbon {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #322d26;
}
.event-card .img-wrap .card-ribbon small {
  font-size: clamp(11px, 1.5vw, 12px);
}
.event-card .img-wrap:hover .book-now {
  bottom: 0;
}
.event-card .font-wrap h4 {
  font-size: clamp(18px, 3vw, 24px);
  margin: 7px 0;
}
.event-card .font-wrap p {
  margin: 0;
  font-size: clamp(13px, 2vw, 14px);
}
.event-card h4 {
  font-size: clamp(18px, 3vw, 24px);
  margin: 15px 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.product-card .img-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
}
.product-card .img-wrap img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.product-card small {
  font-size: clamp(11px, 1.5vw, 12px);
}
.product-card h4 {
  font-size: clamp(18px, 3vw, 24px);
  margin: 10px 0;
}
.product-card .font-wrap p {
  margin: 0;
  font-size: clamp(13px, 2vw, 14px);
}
.product-card .info-wrap {
  width: 90%;
  margin-bottom: 10px;
}
.product-card .add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #beb19e;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.product-card .add-card:hover {
  background-color: #938063;
}

.text {
  border: 0;
  border-radius: 0;
  padding: 7px 0;
  font-family: "DM Sans", sans-serif;
}

.t_toggle {
  display: flex;
  align-items: center;
}

.checkbox {
  border: 0;
  border-radius: 0;
}

.radio {
  border: 0;
  border-radius: 0;
}

* {
  font-family: "Cormorant Garamond", serif;
}

.header {
  background: #322d26;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .header_hamburger {
  display: none;
}
.header .container .header_logo {
  padding: 10px 0;
  flex-grow: 1;
}
.header .container .header_logo img {
  width: 125px;
  display: block;
}
.header .container .header_link {
  flex-grow: 1;
  text-align: center;
  list-style: none;
}
.header .container .header_link a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: clamp(14px, 2.5vw, 16px);
  letter-spacing: 0.1em;
}
.header .wrap_login_shoppingcart {
  width: 205px;
  display: flex;
  justify-content: space-between;
}
.header .wrap_login_shoppingcart a {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  font-size: clamp(14px, 2.5vw, 16px);
  letter-spacing: 0.1em;
}
.header .wrap_login_shoppingcart .fa-regular {
  color: #fff;
}
.header .wrap_login_shoppingcart .fa-solid {
  color: #fff;
}

.footer {
  background-color: #7f1023;
}
.footer .container {
  display: flex;
  align-items: center;
}
.footer .footer_logo {
  padding: 50px 0;
  flex-grow: 1;
}
.footer .footer_logo img {
  display: block;
  width: 250px;
}
.footer .wrap_contactus_aboutus {
  display: flex;
  width: 350px;
  justify-content: space-between;
}
.footer .wrap_contactus_aboutus .footer_contactus {
  display: flex;
  flex-direction: column;
}
.footer .wrap_contactus_aboutus .footer_contactus a {
  color: #fff;
  letter-spacing: 0.1em;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 2;
  font-family: "DM Sans", sans-serif;
}
.footer .wrap_contactus_aboutus .footer_aboutus {
  display: flex;
  flex-direction: column;
}
.footer .wrap_contactus_aboutus .footer_aboutus a {
  color: #fff;
  letter-spacing: 0.1em;
  font-size: clamp(14px, 2.5vw, 16px);
  line-height: 2;
  font-family: "DM Sans", sans-serif;
}

.tibame {
  padding: 50px 0;
  background-color: black;
}
.tibame small {
  letter-spacing: 0.1em;
  text-align: center;
  color: #fff;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*=col-],
.col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-md-1 {
  width: 8.3333333333%;
}

.col-md-2 {
  width: 16.6666666667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.3333333333%;
}

.col-md-5 {
  width: 41.6666666667%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.3333333333%;
}

.col-md-8 {
  width: 66.6666666667%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.3333333333%;
}

.col-md-11 {
  width: 91.6666666667%;
}

.col-md-12 {
  width: 100%;
}

@media screen and (max-width: 995px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* --------------------------------------- */

/*# sourceMappingURL=style.css.map */
