//sand
$bgc: #EDE7DE !default;
$sand: #dfd4c3;

//wine
$wine: #7f1023 !default;

//gray
$gray: #322d26 !default;

//white
$white: #fff;
$white-transp: hsla(0, 0%, 100%, 0.6);

//按鈕顏色
$primary-botton-color: #322d26;
$secondary-botton-color: #aea495;
$invalid-button-color: #d5d5d5;

//checkbox和ratio顏色
$interactive-color: #5188f6;
$checkbox-ratio-bgc: $white;
