// 斷點
$t: 995px;
$m: 450px;

// container最大寬度
$max-width: 1200px;

// section上下間距
$section-space: 80px;
section {
    padding: $section-space 0;
}

// padding
$pad-1: 50px;
$pad-2: 100px;

// margin
$mar-1: 50px;
$mar-2: 100px;