// RWD mixin
// 平板版_995px以下
@mixin t() {
  @media screen and (max-width: $t) {
    @content;
  }
}
// 手機板_429px以下
@mixin m() {
  @media screen and (max-width: $m) {
    @content;
  }
}

// grid system
// 電腦版
@mixin grid($value) {
  @for $i from 1 through $value {
    .col-#{$i} {
      width: math.div($i, $value) * 100%;
    }
  }
}
// 平板版
@mixin grid($value) {
  @for $i from 1 through $value {
    .col-md-#{$i} {
      width: math.div($i, $value) * 100%;
    }
  }
}
// 手機版
@mixin grid-m($value) {
  @for $i from 1 through $value {
    .col-sm-#{$i} {
      width: math.div($i, $value) * 100%;
    }
  }
}
