// 關於我們
.container {

    // 關於酒窖
    .section-about-us {
        .about-us {

            // margin: auto;
            .about-info {
                display: flex;

                @include t {
                    display: flex;
                    flex-direction: column;
                }

                .about-info-pic {
                    width: 500px;
                    height: 323px;

                    img {
                        width: 100%;
                    }
                }

                .about-text {
                    margin: 0 10px;
                    width: 400px;
                    height: 400px;

                    @include t {
                        width: 500px;
                        height: 323px;
                    }

                    h5 {
                        line-height: 24px;

                        @include t {
                            margin: 20px;
                            line-height: 24px;
                        }
                    }

                }
            }
        }
    }

    // 認識我們的關鍵人物
    .key-people {
        .people-info-list {
            display: flex;
            gap: 10px;

            @include t {
                display: flex;
                flex-direction: column;
            }

            .people-info {
                .people-info-pic {
                    width: 150px;
                    height: 150px;

                    img {
                        width: 100%;
                    }
                }

                h4 {
                    margin: 10px 0;
                }
            }
        }
    }

    // 超過五個十年的歷史
    .about-our-history {
        .history-process {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: auto;

            @include t {
                margin: auto;
            }

            .history-info {
                display: flex;
                margin: auto;

                @include t {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .history-info-pic {
                    width: 250px;
                    height: 200px;
                    margin: 10px 40px;

                    @include t {
                        width: 250px;
                        height: 150px;
                        margin: 0 10px 60px 0px;
                    }

                    img {
                        width: 100%;
                    }
                }

                .history-text {
                    h3 {
                        margin: 10px 0;

                        @include t {
                            font-size: 24px;
                        }
                    }

                    h4 {
                        margin: 10px 0;
                        line-height: 26px;

                        @include t {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .traffic-information {
        .traffic-item {
            display: flex;
            margin: auto;
            @include t {
                display: flex;
                flex-direction: column;
            }
            .traffic-map {
                width: 600px;
                height: 100%;
                margin-bottom: 40px;
                @include t {
                    width: 450px;
                    height: 100%;
                }
                iframe {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
        .traffic-list {
            margin: 10px;
            @include t {
                margin: 5px auto 40px auto;
            }
            .traffic-text {
                display: flex;
                margin: 15px 5px;
                @include t {
                    margin: 10px 0; 
                }
                .material-symbols-outlined {
                    font-size: 24px;
                }
                h4 {
                    margin: 2px;
                    @include t {
                        margin: 5px;
                    }
                }
            }
        }
    }
}
