// 關於我們


// 關於酒窖
.section-about-us {
    .about-us-container {
        // max-width: $max-width;
        width: 100%;
        margin: auto;
        @include t {
            margin: auto;
            width: 80%;
        }
        .about-us-row {
            width: 100%;
            .about-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                @include t {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .line {
                    background-color: $gray;
                    width: 161.003px;
                    height: 1px;
                }

                h2 {
                    font-family: $font-cormorant;
                    padding: 0 30px;
                }
            }

            .about-info {
                display: flex;
                align-items: center;
                justify-content: center;
                @include t {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .about-info-pic {
                    // width: 90%;
                    width: 500px;
                    // height: 323px;
                    @include t {
                        // width: 300px;
                        width: 100%;
                    }
                    img {
                        width: 100%;
                    }
                }

                .about-text {
                    width: 400px;
                    height: 350px;
                    margin: 10px;

                    @include t {
                        width: 100%;
                        // width: 500px;
                        // height: 323px;
                    }

                    h5 {
                        line-height: 24px;
                        margin: 10px;
                        padding: 30px 0;

                        @include t {
                            margin: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

// 認識我們的關鍵人物
.section-key-people {
    .key-people-container {
        max-width: $max-width;
        width: 100%;
        margin: auto;
        @include t {
            margin: auto;
        }
        .key-people-row {
            .about-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 40px 0;
                .line {
                    background-color: $gray;
                    width: 161.003px;
                    height: 1px;
                }
                h2 {
                    font-family: $font-cormorant;
                    padding: 0 30px;
                }
            }
            .people-info-list {
                display: flex;
                gap: 10px;

                @include t {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .people-info {
                    .people-info-pic {
                        width: 100%;
                        // width: 200px;
                        // height: 200px;
                        img {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                    h4 {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

// 超過五個十年的歷史
.section-our-history {
    .our-history-container {
        max-width: $max-width;
        width: 100%;
        margin: auto;
        @include t {
            width: 80%;
            margin: auto;
        }
        .our-history-row {
            .about-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 60px auto;
                .line {
                    background-color: $gray;
                    width: 161.003px;
                    height: 1px;
                }
                h2 {
                    font-family: $font-cormorant;
                    padding: 0 30px;
                }
            }
            // 歷史過程
            .history-process {
                .history-info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    .history-info-pic {
                        margin: 30px 40px;
                        @include t {
                            width: 50%;
                            margin: 20px;
                        }
                        img {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                    .history-text {
                        width: 50%;
                        @include t {
                            width: 50%;
                            margin: 20px;
                        }
                        h3 {
                            margin: 10px 0;
                            @include t {
                                font-size: 24px;
                                width: 50%;
                                // height: 80px;
                            }
                        }
                        h4 {
                            margin: 10px 0;
                            line-height: 30px;
                            @include t {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .history-info-pic-dot {
                    width: 20%;
                    margin: 10px auto;
                    padding: 20px 0;
                    @include t {
                        width: 60%;
                        // width: 200px;
                        // height: 100px;
                        margin: 20px auto;
                    }
                    img {
                        width: 100%;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}


// 交通資訊 
.section-traffic-information {
    .traffic-container {
        max-width: $max-width;
        width: 100%;
        margin: auto;

        .traffic-row {
            .about-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px;

                .line {
                    background-color: $gray;
                    width: 161.003px;
                    height: 1px;
                }

                h2 {
                    font-family: $font-cormorant;
                    padding: 0 30px;
                }
            }
        }

        .traffic-item {
            display: flex;
            margin: auto;

            @include t {
                display: flex;
                flex-direction: column;
            }

            .traffic-map {
                width: 600px;
                height: 100%;
                margin-bottom: 40px;
                margin: auto;

                @include t {
                    width: 400px;
                    height: 100%;
                }

                iframe {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            .traffic-list {
                margin: auto;
                @include t {
                    margin: 5px auto 40px auto;
                }
                .traffic-text {
                    display: flex;
                    margin: 15px 5px;

                    @include t {
                        margin: 15px 0;
                    }
                    .material-symbols-outlined {
                        font-size: 24px;
                    }
                    h4 {
                        @include t {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}