// 會員中心
.history-container {
    max-width: $max-width;
    width: 100%;
    margin: auto;
    .row {
        margin: 20px  auto;
    }
    .center_menu {
        margin: 20px auto;
        border-bottom: 1px solid #322D26;
        padding-bottom: 20px;
        margin: auto;

        @include t {
            margin: auto;
        }
    }

    .wrap_mem_center {
        margin: 20px 0;

        .member_info_list {
            width: 500px;
            background-color: #F8F5F2;
            margin: 30px auto;
            text-align: center;

            @include t {
                // width: 400px;
                width: 80%;
                margin: auto;
            }

            button {
                margin: 30px 0;
            }

            .member_type {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 10px solid #EDE7DE;

                h3 {
                    // margin: 20px 0 ;
                    margin: 20px;
                }

                h4 {
                    // margin: 20px 0 0 50px ;
                    margin: 20px;
                }
            }

            .member_icon {
                display: flex;
                padding: 30px;

                .material-symbols-outlined {
                    font-size: 26px;

                    @include t {
                        font-size: 20px;
                    }
                }

                h4 {
                    margin: 2px 7px;
                }
            }

            .member_info {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;

                input {
                    width: 220px;
                    outline: none;
                    border: none;
                    background: #FFFFFF;
                    padding: 10px;
                }

                label {
                    display: block;
                    width: 100px;
                    padding: 10px;
                }
            }
        }
    }

}