// 課程清單頁面
.course-page-container {
  max-width: $max-width;
  width: 100%;
  margin: auto;
  .row {
    width: 100%;
    margin: unset;
    justify-content: center;
  }
}

.scrumble {
  padding-top: $pad-1;
  .material-symbols-outlined {
    vertical-align: middle;
    font-size: clamp(11px, 1.5vw, 12px);
    margin: 0 5px;
  }
}

.course-title-wrap {
  display: flex;
  align-items: center;
  padding-top: $pad-1;
  padding-bottom: $pad-2;
  .line {
    background-color: $gray;
    width: 161.003px;
    height: 1.5px;
  }
  h2 {
    font-family: $font-cormorant;
    padding: 0 30px;
  }
}

.section-recom-course {
  .recom-course {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-search-course {
  background-color: $white-transp;
  .search-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-course-calendar-header,
    .search-course-calendar-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $pad-1 10px;
      .material-symbols-outlined {
        vertical-align: middle;
        font-size: clamp(17px, 3vw, 23px);
        cursor: pointer;
      }
      .month-year {
        padding: 0 $pad-1;
      }
    }
    .course-title-wrap {
      padding-bottom: 150px;
    }
    .search-course-list-wrap {
      position: relative;
      padding: $pad-1 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bgc;
      .search-course-tabs-panel {
        position: absolute;
        display: flex;
        top: 0;
        translate: 0 -100%;
        .big-btn-primary,
        .big-btn-secondary {
          padding: 18px 75px;
        }
        .big-btn-primary {
          position: relative;
          .triangle {
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 100%;
            width: 0;
            height: 0;
            border-top: 14px solid $gray;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
          }
          &:hover {
            .triangle {
              border-color: darken($gray, 20) transparent transparent transparent;
            }
          }
        }
      }
      .search-course-calendar {
        font-family: $font-dm, $font-noto;
        padding-bottom: $pad-1;
        .search-course-calendar-body {
          border: 2px solid $sand;
          background-color: #fff;
          .weekdays,
          .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
          }
          .weekdays {
            .weekday {
              padding: 10px;
            }
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              text-transform: uppercase;
              border: 1.1px solid $bgc;
              height: 45px;
            }
          }
          .days {
            .day {
              position: relative;
              padding: 10px;
              border: 1px solid $bgc;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              height: 120px;
              .day-number {
                position: absolute;
                left: 10px;
                top: 10px;
              }
              .course-name {
                cursor: pointer;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 65%;
                background-color: $bgc;
                transition: 0.3s ease-in-out;
                p {
                  padding-top: 10px;
                }
                .course-tag {
                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 6px 8px;
                  background-color: $wine;
                  color: $white;
                }
                &:hover {
                  box-shadow: 3px 3px 5px #322d2641;
                  transform: translate(-1%, -1%);
                }
              }
            }
            .today {
              padding: 5px;
              padding-bottom: 15px;
              div {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $bgc;
                height: 30px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: #5188f6;
              }
            }
          }
        }
      }
      .event-card-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .event-card2 {
          margin-bottom: $margin-1;
        }
      }
    }
  }
}


//課程詳情資訊
.courseBanner {
  background-image: url(/src/assets/img/home/homebanner2.png),
    url(/src/assets/img/course/Mask\ group.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom 0 left 0;
  background-size:
    100%,
    100% 90%;
  height: 77vh;
}
.info {
  .container {
    .row > .courseInfo > div {
      padding: 0 5px;
      display: flex;
      align-items: center;
      span {
        font-size: 40px;
        font-weight: bolder;
      }
    }
    .row > .courseInfo > div > .courseWrap {
      padding: 0 10px;
    }
    .row > .courseInfo > div > .courseWrap > p {
      padding: 5px 0 0;
    }
    .row {
      .courseInfo {
        display: flex;
        h2 {
          padding: 0 20px;
        }
        .coursePrice {
          p {
            text-decoration: line-through;
          }
        }
      }
      .courseIntro {
        padding: 50px 20px 0;
        display: flex;
        justify-content: space-between;
        p {
          width: 70%;
          line-height: 25px;
        }
        .reserveCourse {
          height: 70px;
          span {
            padding: 0 8px;
          }
        }
      }
    }
  }
}
hr {
  border-width: 2px;
}
.introduction {
  .container {
    .row {
      .teacher {
        display: flex;
        gap: 50px;
        .teacherImg {
          width: 40%;
          img {
            width: 100%;
          }
        }
        .teacherInfo {
          width: 50%;
          flex-grow: 1;
          p {
            line-height: 25px;
          }
        }
        .teacherInfo > h3,
        h4,
        p {
          padding: 10px 0;
        }
      }
      .feature {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .featWrap {
          text-align: center;
          ul {
            li {
              text-align: left;
              list-style-type: disc;
            }
          }
        }
      }
      button {
        margin: 0 auto;
        span {
          padding: 0 8px;
        }
      }
      .feature > .featWrap {
        padding: 50px 50px;
      }
      .feature > .featWrap > h3,
      li {
        padding: 8px 0;
      }
    }
  }
}
