// 課程清單頁面
.course-page-container {
  color: $gray;
  max-width: $max-width;
  width: 100%;
  margin: auto;
  .row {
    width: 100%;
    margin: unset;
    justify-content: center;
  }
}

.courseDetailRow {
  display: flex;
  justify-content: center;
}

.scrumble {
  padding-top: $pad-1;
  .material-symbols-outlined {
    vertical-align: middle;
    font-size: clamp(11px, 1.5vw, 12px);
    margin: 0 5px;
  }
}

.course-title-wrap {
  display: flex;
  align-items: center;
  padding-top: $pad-1;
  padding-bottom: $pad-2;
  .line {
    background-color: $gray;
    width: 161.003px;
    height: 1px;
  }
  h2 {
    font-family: $font-cormorant;
    padding: 0 30px;
  }
}

.section-recom-course {
  .recom-course {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-search-course {
  background-color: $white-transp;
  .search-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-course-calendar-header,
    .search-course-calendar-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $pad-1 10px;
      .material-symbols-outlined {
        vertical-align: middle;
        font-size: clamp(17px, 3vw, 23px);
        cursor: pointer;
      }
      .month-year {
        padding: 0 $pad-1;
      }
    }
    .course-title-wrap {
      padding-bottom: 150px;
    }
    .search-course-list-wrap {
      position: relative;
      padding: $pad-1 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bgc;
      .search-course-tabs-panel {
        position: absolute;
        display: flex;
        top: 0;
        translate: 0 -100%;
        .big-btn-primary {
          position: relative;
          .triangle {
            position: absolute;
            bottom: 0;
            left: 50%;
            translate: -50% 100%;
            width: 0;
            height: 0;
            border-top: 14px solid $gray;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
          }
          &:hover {
            .triangle {
              border-color: darken($gray, 20) transparent transparent transparent;
            }
          }
        }
      }
      .search-course-calendar {
        font-family: $font-dm, $font-noto;
        padding-bottom: $pad-1;
        .search-course-calendar-body {
          border: 2px solid $sand;
          background-color: #fff;
          .weekdays,
          .days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
          }
          .weekdays {
            .weekday {
              padding: 10px;
            }
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: bold;
              text-transform: uppercase;
              border: 1.1px solid $bgc;
              height: 45px;
            }
          }
          .days {
            .day {
              position: relative;
              padding: 10px;
              border: 1px solid $bgc;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              height: 125px;
              .day-number {
                position: absolute;
                left: 10px;
                top: 10px;
              }
              .course-item {
                margin-top: 22px;
                color: $gray;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 65%;
                background-color: $bgc;
                transition: 0.3s ease-in-out;
                text-decoration: none;
                p {
                  padding-top: 10px;
                }
                .course-tag {
                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 6px 8px;
                  background-color: $wine;
                  color: $white;
                }
                &:hover {
                  box-shadow: 3px 3px 5px #322d2641;
                  transform: translate(-1%, -1%);
                }
              }
            }
            .today {
              padding: 5px;
              padding-bottom: 15px;
              .day-number {
                z-index: 1;
                margin-top: -5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                background-color: $bgc;
                height: 27px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: #5188f6;
              }
            }
          }
        }
      }
      .event-card-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .event-card2 {
          margin-bottom: $mar-1;
        }
      }
    }
  }
}

@include t() {
  .course-title-wrap {
    padding-top: 0;
    padding-bottom: 4rem;
    .line {
      width: 130px;
      height: 0.7px;
    }
    h2 {
      padding: 0 25px;
    }
  }
  .section-search-course {
    .search-course {
      .course-title-wrap {
        padding-top: 0;
        padding-bottom: 7rem;
      }
      .search-course-list-wrap {
        padding-top: 25px;
        .search-course-calendar {
          .search-course-calendar-body {
            .days {
              .day {
                height: 110px;
                padding: 5px;
                .course-item {
                  p {
                    padding-top: 16px;
                    padding-left: 5px;
                    padding-right: 5px;
                    line-height: 16px;
                  }
                  .course-tag {
                    width: 100%;
                    padding: 4px 0;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include m() {
  .course-title-wrap {
    .line {
      width: 85px;
      height: 0.7px;
    }
    h2 {
      padding: 0 18px;
    }
  }
}

//課程詳情資訊
.courseBanner {
  position: relative;
  width: 100%;
  height: 500px;
  .bgImgWrap {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
      object-fit: cover;
      object-position: bottom;
      width: 100%;
    }
  }
  .maskWrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    z-index: 2;
    img {
      width: 100%;
    }
  }
}

.info {
  background-color: $bgc;
  .container {
    .courseDetailRow > .courseInfo > div {
      padding: 0 5px;
      display: flex;
      align-items: center;
      span {
        font-size: 40px;
        font-weight: bolder;
      }
    }
    .courseDetailRow > .courseInfo > div > .courseWrap {
      padding: 0 10px;
    }
    .courseDetailRow > .courseInfo > div > .courseWrap > p {
      padding: 5px 0 0;
    }
    .courseDetailRow {
      .courseTopInfoWrap {
        display: flex;
        flex-direction: column;
        .courseInfo {
          padding: 25px 0;
          display: flex;
          justify-content: space-between;
          .courseDetailWrap {
            display: flex;
            width: 75%;
            justify-content: space-between;
            .line {
              height: 100%;
              width: 3px;
              background-color: #aea495;
              margin-right: 20px;
            }
            p,
            h4 {
              padding: 5px 0;
              text-wrap: nowrap;
            }
            .courseTime,
            .courseAdress,
            .coursePrice {
              display: flex;
            }
            .coursePrice {
              p {
                text-decoration: line-through;
              }
            }
          }
        }
        .courseIntro {
          padding: 25px 0;
          display: flex;
          justify-content: space-between;
          p {
            width: 70%;
            line-height: 25px;
          }
          .reserveCourse {
            span {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

.introduction {
  background-color: $bgc;
  .container {
    .courseDetailRow {
      padding-bottom: $pad-1;
      .courseBottomInfoWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        .teacher {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .teacherImg {
            width: 40%;
            aspect-ratio: 4/3;
            overflow: hidden;
            img {
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 100%;
            }
          }
          .teacherInfo {
            width: 53%;
            p {
              line-height: 25px;
            }
          }
          .teacherInfo > h3,
          h4 {
            padding: 10px 0;
          }
          .teacherInfo > p {
            padding: 20px 0;
          }
        }
        .feature {
          padding: 50px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .featWrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4 {
              padding: 25px 0;
            }
            .iconWrap {
              width: 100px;
              height: 100px;
              overflow: hidden;
              img {
                object-fit: cover;
                object-position: center;
                height: 100%;
              }
            }
            ul {
              li {
                font-size: clamp(13px, 2vw, 14px);
                text-align: left;
                list-style-type: "- ";
                padding: 5px 0;
                font-family: $font-dm, $font-noto;
              }
            }
          }
        }
        button {
          span {
            margin-right: 5px;
          }
        }
        .feature > .featWrap {
          padding: $pad-1;
        }
      }
    }
  }
}

@include t() {
  .courseBanner {
    height: 400px;
    .bgImgWrap {
      img {
        object-position: bottom;
      }
    }
  }
  .info {
    padding-bottom: 0;
    .container {
      .courseDetailRow {
        .courseTopInfoWrap {
          .courseInfo {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 25px;
            h3 {
              margin-bottom: 25px;
            }
            .courseDetailWrap {
              flex-direction: column;
              width: fit-content;
              .courseTime,
              .courseAdress {
                margin-bottom: 15px;
              }
            }
          }
          .courseIntro {
            flex-direction: column;
            align-items: flex-start;
            padding-top: 0;
            padding-bottom: 25px;
            p {
              width: 100%;
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }
  .introduction {
    .container {
      .courseDetailRow {
        .courseBottomInfoWrap {
          .feature {
            .featWrap {
              padding: 0;
              padding-bottom: 50px;
              &:last-child {
                padding-bottom: 0;
              }
              h4 {
                padding-top: 25px;
                padding-bottom: 15px;
              }
              .iconWrap {
                height: 80px;
                width: 80px;
              }
              ul {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}

@include m() {
  .courseBanner {
    height: 200px;
    .bgImgWrap {
      img {
        object-position: center;
      }
    }
  }
  .introduction {
    .container {
      .courseDetailRow {
        .courseTopInfoWrap {
          .courseInfo {
            .courseDetailWrap {
              flex-direction: column;
              justify-content: unset;
              align-items: flex-start;
              width: 50%;
            }
          }
        }
        .courseBottomInfoWrap {
          .teacher {
            flex-direction: column;
            .teacherImg {
              width: 100%;
              padding-bottom: 25px;
            }
            .teacherInfo {
              width: 100%;
              h3 {
                padding: 5px 0;
              }
              h4 {
                padding: 8px 0;
              }
              p {
                padding: 0;
                padding-top: 8px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

//預約課程頁面
.booking_flow {
  padding-bottom: 0px;
}
.course-booking-section {
  .course-booking-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .course-booking-form {
      .form_ltem_list {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #ffffff;
        background-color: $secondary-botton-color;
  
        .form_item {
          width: 30%;
          display: flex;
          align-items: center;
          label {
            font-size: 24px;
            color: white;
            background-color: $secondary-botton-color;
            padding: 30px 20px;
            text-align: center;
            display: block;
            margin: auto;
          }
        }
  
        .form_box {
          display: flex;
          align-items: center;
          width: 70%;
          background-color: #f8f5f2;
          p {
            margin: 25px;
          }

          input {
            width: 80%;
            font-size: 14px;
            display: inline-block;
            outline: none;
            border: none;
            padding: 7px;
            margin: 25px;
          }

          select {
            width: 40%;
            height: 30px;
            font-size: 14px;
            display: inline-block;
            border: none;
            outline: 7px solid $white;
            padding: 7px;
            margin: 25px;
            option {
              color: $gray;
              font-size: map-get($font-size, p);
              font-weight: $font-weight;
              font-family: $font-dm, $font-noto;
            }
          }
  
          .material-symbols-outlined {
            font-size: 14px;
            padding-top: 10px;
          }

          .amount {
            width: 25%;
            height: 44px;
            margin: 25px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            background-color: $white;
            @include t() {
              width: 30%;
            }
            & > button {
              font-size: map-get($font-size, a);
              padding: 7px 15px;
              background-color: $white;
              cursor: pointer;
              color: $gray;
              border: none;
            }
          }
        }

        &:last-child {
          .form_box {
            textarea {
              font-size: 14px;
              outline: none;
              border: none;
              width: 80%;
              margin: 25px;
              padding: 7px;
            }
          }
        }
      }
    }

    .form_privacy_policy {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: $mar-1;
      input {
        margin-right: 5px;
      }
    }

    .reserveCourse {
      span {
        margin-right: 5px;
      }
    }
    
    .cursor-not-allowed {
      cursor: not-allowed;
    }

    .btn-wrap {
      display: flex;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

// 信用卡
// .payment_box {
//   display: flex;
//   width: 70%;
//   background-color: #f8f5f2;
//   margin: 0;
//   padding: 0;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   -ms-flex-line-pack: center;
//       align-content: center;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   -ms-flex-wrap: wrap;
//       flex-wrap: wrap;
//   font-family: 'Raleway';
// }

// .payment-title {
//   width: 100%;
//   text-align: center;
// }

// .form-container .field-container:first-of-type {
//   grid-area: name;
// }

// .form-container .field-container:nth-of-type(2) {
//   grid-area: number;
// }

// .form-container .field-container:nth-of-type(3) {
//   grid-area: expiration;
// }

// .form-container .field-container:nth-of-type(4) {
//   grid-area: security;
// }

// .field-container input {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

// .field-container {
//   position: relative;
// }

// .form-container {
//   display: grid;
//   grid-column-gap: 10px;
//   grid-template-columns: auto auto;
//   grid-template-rows: 90px 90px 90px;
//   grid-template-areas: "name name""number number""expiration security";
//   max-width: 400px;
//   padding: 20px;
//   color: #707070;
// }

// label {
//   padding-bottom: 5px;
//   font-size: 13px;
// }

// input {
//   margin-top: 3px;
//   padding: 15px;
//   font-size: 16px;
//   width: 100%;
//   border-radius: 3px;
//   border: 1px solid #dcdcdc;
// }

// .ccicon {
//   height: 38px;
//   position: absolute;
//   right: 6px;
//   top: calc(50% - 17px);
//   width: 60px;
// }

// /* CREDIT CARD IMAGE STYLING */
// .preload * {
//   -webkit-transition: none !important;
//   -moz-transition: none !important;
//   -ms-transition: none !important;
//   -o-transition: none !important;
// }

// .container {
//   width: 100%;
//   max-width: 400px;
//   max-height: 251px;
//   height: 54vw;
//   padding: 20px;
// }

// #ccsingle {
//   position: absolute;
//   right: 15px;
//   top: 20px;
// }

// #ccsingle svg {
//   width: 100px;
//   max-height: 60px;
// }

// .creditcard svg#cardfront,
// .creditcard svg#cardback {
//   width: 100%;
//   -webkit-box-shadow: 1px 5px 6px 0px black;
//   box-shadow: 1px 5px 6px 0px black;
//   border-radius: 22px;
// }

// #generatecard{
//   cursor: pointer;
//   float: right;
//   font-size: 12px;
//   color: #fff;
//   padding: 2px 4px;
//   background-color: #909090;
//   border-radius: 4px;
//   cursor: pointer;
//   float:right;
// }

// /* CHANGEABLE CARD ELEMENTS */
// .creditcard .lightcolor,
// .creditcard .darkcolor {
//   -webkit-transition: fill .5s;
//   transition: fill .5s;
// }

// .creditcard .lightblue {
//   fill: #03A9F4;
// }

// .creditcard .lightbluedark {
//   fill: #0288D1;
// }

// .creditcard .red {
//   fill: #ef5350;
// }

// .creditcard .reddark {
//   fill: #d32f2f;
// }

// .creditcard .purple {
//   fill: #ab47bc;
// }

// .creditcard .purpledark {
//   fill: #7b1fa2;
// }

// .creditcard .cyan {
//   fill: #26c6da;
// }

// .creditcard .cyandark {
//   fill: #0097a7;
// }

// .creditcard .green {
//   fill: #66bb6a;
// }

// .creditcard .greendark {
//   fill: #388e3c;
// }

// .creditcard .lime {
//   fill: #d4e157;
// }

// .creditcard .limedark {
//   fill: #afb42b;
// }

// .creditcard .yellow {
//   fill: #ffeb3b;
// }

// .creditcard .yellowdark {
//   fill: #f9a825;
// }

// .creditcard .orange {
//   fill: #ff9800;
// }

// .creditcard .orangedark {
//   fill: #ef6c00;
// }

// .creditcard .grey {
//   fill: #bdbdbd;
// }

// .creditcard .greydark {
//   fill: #616161;
// }

// /* FRONT OF CARD */
// #svgname {
//   text-transform: uppercase;
// }

// #cardfront .st2 {
//   fill: #FFFFFF;
// }

// #cardfront .st3 {
//   font-family: 'Source Code Pro', monospace;
//   font-weight: 600;
// }

// #cardfront .st4 {
//   font-size: 54.7817px;
// }

// #cardfront .st5 {
//   font-family: 'Source Code Pro', monospace;
//   font-weight: 400;
// }

// #cardfront .st6 {
//   font-size: 33.1112px;
// }

// #cardfront .st7 {
//   opacity: 0.6;
//   fill: #FFFFFF;
// }

// #cardfront .st8 {
//   font-size: 24px;
// }

// #cardfront .st9 {
//   font-size: 36.5498px;
// }

// #cardfront .st10 {
//   font-family: 'Source Code Pro', monospace;
//   font-weight: 300;
// }

// #cardfront .st11 {
//   font-size: 16.1716px;
// }

// #cardfront .st12 {
//   fill: #4C4C4C;
// }

// /* BACK OF CARD */
// #cardback .st0 {
//   fill: none;
//   stroke: #0F0F0F;
//   stroke-miterlimit: 10;
// }

// #cardback .st2 {
//   fill: #111111;
// }

// #cardback .st3 {
//   fill: #F2F2F2;
// }

// #cardback .st4 {
//   fill: #D8D2DB;
// }

// #cardback .st5 {
//   fill: #C4C4C4;
// }

// #cardback .st6 {
//   font-family: 'Source Code Pro', monospace;
//   font-weight: 400;
// }

// #cardback .st7 {
//   font-size: 27px;
// }

// #cardback .st8 {
//   opacity: 0.6;
// }

// #cardback .st9 {
//   fill: #FFFFFF;
// }

// #cardback .st10 {
//   font-size: 24px;
// }

// #cardback .st11 {
//   fill: #EAEAEA;
// }

// #cardback .st12 {
//   font-family: 'Rock Salt', cursive;
// }

// #cardback .st13 {
//   font-size: 37.769px;
// }

// /* FLIP ANIMATION */
// .container {
//   perspective: 1000px;
// }

// .creditcard {
//   width: 100%;
//   max-width: 400px;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
//   transition: -webkit-transform 0.6s;
//   -webkit-transition: -webkit-transform 0.6s;
//   transition: transform 0.6s;
//   transition: transform 0.6s, -webkit-transform 0.6s;
//   cursor: pointer;
// }

// .creditcard .front,
// .creditcard .back {
//   position: absolute;
//   width: 100%;
//   max-width: 400px;
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   -webkit-font-smoothing: antialiased;
//   color: #47525d;
// }

// .creditcard .back {
//   -webkit-transform: rotateY(180deg);
//   transform: rotateY(180deg);
// }

// .creditcard.flipped {
//   -webkit-transform: rotateY(180deg);
//   transform: rotateY(180deg);
// }