// 會員中心-紀錄詳情資訊
.container {
    .wrap_details {
        margin: auto;

        h4 {
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #000000;
            margin: 0 90px;
        }

        .details_list {
            width: 1000px;
            display: flex;
            align-items: center;
            justify-content: start;
            margin: auto;
            padding: 10px 0;
            border-bottom: 1px solid #000000;

            @include t {
                width: 500px;
                padding: 10px 0;
            }

            p {
                width: 250px;
                padding: 0 0 0 20px;
                margin: 15px 0 15px 60px;
            }
        }

        .product_details {
            width: 1000px;
            border-bottom: 1px solid #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 25px 0;
            @include t {
                width: 550px;
                padding: 10px;
            }
            p {
                margin: 0 50px;
                padding: 0 10px;
                @include t {
                    margin: 0 25px;
                    padding: 10px 20px;
                }
            }
        }
        .product_price {
            width: 1000px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            padding: 25px 0;
            @include t {
                width: 500px;
            }
            p {
                margin: 0 80px;
                padding: 0 20px;
                @include t {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}