// 會員中心
.history-container {
    max-width: $max-width;
    width: 100%;
    margin: auto;

    .center_menu {
        border-bottom: 1px solid #322D26;
        padding-bottom: 20px;
        margin: auto;

        .buttonClass {
            display: inline;
            margin-right: 2px;
        }
    }
}

// 訂單紀錄
.history-container {
    .center_menu {
        border-bottom: 1px solid #322D26;
        padding-bottom: 20px;
        margin: 40px 0;
    }
        .wrap_order_history {
            margin: 30px auto;
            .items_list {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 40px;

                p {
                    margin: 0 45px;
                    padding: 10px;

                    @include t {
                        font-size: 12px;
                        padding: 10px 25px 10px 10px;
                        margin: auto;
                    }
                }
            }

            .items {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #322D26;
                padding: 5px 0;
                margin: auto;

                @include t {
                    width: 400px;
                    padding: 5px;
                }

                p {
                    margin: 0 35px;
                    padding: 0;

                    @include t {
                        font-size: 12px;
                        // margin: 10px 6px;
                        // padding: 10px 0;
                        margin: 0 5px;
                        padding: 0 5px;
                    }
                }

                button {
                    margin: 0 2px;
                }
            }
        }

}

// 課程預約紀錄
.history-container {
    .center_menu {
        border-bottom: 1px solid #322D26;
        padding-bottom: 20px;
        margin: 40px 0;
    }

    .wrap_booking_history {
        margin: 30px auto;

        .items_list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 40px;

            p {
                margin: 0 45px;
                padding: 10px;

                @include t {
                    font-size: 12px;
                    padding: 10px 25px 10px 10px;
                    margin: auto;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #322D26;
            padding: 5px 0;
            margin: auto;

            @include t {
                width: 400px;
                padding: 5px;
            }

            p {
                margin: 0 60px;
                padding: 0;

                @include t {
                    font-size: 12px;
                    // margin: 10px 6px;
                    // padding: 10px 0;
                    margin: 0 5px;
                    padding: 0 5px;
                }
            }

            button {
                margin: 0 2px;
            }
        }
    }
}

// 優惠券紀錄
.history-container {

    // 導覽列
    .center_menu {
        padding-bottom: 20px;
        margin: 40px 0;

        @include t {
            // width: 430px;
        }

        @include m {
            // width: 430px;
        }
    }

    .wrap_discount_history {
        font-size: 14px;
        display: grid;
        width: 90%;
        margin: 15px auto;

        @include t {
            font-size: 12px;
        }

        .items_list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            p {
                font-size: 14px;
                text-align: center;
                padding: 20px 0;
            }
        }

        .items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border: 1px solid #322D26;

            p {
                text-align: center;
                padding: 20px 0;
            }
        }
    }
}