// 開場輪播圖
.homeBanner {
    // outline: 1px solid red;
    background-image: url(/src/assets/img/home/homebanner2.png), url(/src/assets/img/home/home-banner.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    background-size:
        100%,
        100% 100%;
    height: 77vh;
    align-content: center;
    position: relative;
    .homeBanner_container {
        // outline: 1px solid red;
        width: 100%;
        margin: auto;
        .homeBanner_wine {
            .homeBanner_wine_wapper {
                .image {
                    width: 44%;
                    position: absolute;
                    top: 20%;
                    left: 29%;
                    filter: drop-shadow(2px 5px 1px rgba(0, 0, 0, 0.8));
                }
                .reflection {
                    width: 24%;
                    display: block;
                    // outline: 1px solid red;
                    margin: 0 auto;
                    position: absolute;
                    bottom: -83%;
                    left: 38.2%;
                }
            }
        }
        .homeBanner_txt {
            h3 {
                // outline: 1px solid red;
                font-size: 35px;
                width: 70%;
                margin: auto;
                color: #ffffff;
                letter-spacing: 2px;
            }
            h2 {
                font-size: 350px;
                text-align: center;
                // outline: 1px solid red;
                color: #ffffff;
                letter-spacing: 24px;
            }
            h4 {
                // outline: 1px solid red;
                font-size: 35px;
                text-align: right;
                width: 70%;
                margin: auto;
                color: #ffffff;
                letter-spacing: 2px;
            }
        }
    }
}

// 關於我們
.homeAboutus {
    .homeAboutus_container {
        // outline: 1px solid red;
        padding: 174px 0;
        width: 70%;
        display: flex;
        margin: auto;
    }
    .homeAboutus_pic {
        // outline: 1px solid red;
        width: 50%;
        img {
            width: 100%;
        }
    }
    .wrap_homeAboutus {
        // outline: 1px solid red;
        position: relative;
        width: 50%;
        margin: 0 0 0 50px;
        .homeAboutus_txt {
            letter-spacing: $letter-spacing;
            h3 {
                font-family: $font-cormorant;
                font-size: map-get($font-size, h3);
                margin-bottom: 37px;
            }
            p {
                font-size: map-get($font-size, p);
                width: 90%;
                margin-bottom: 37px;
                letter-spacing: $letter-spacing;
                line-height: 1.5;
                font-family: $font-noto;
            }
        }
        .wrap_homeAboutus_detail {
            // outline: 1px solid red;
            margin-bottom: 40px;
            .homeAboutus_detail {
                // outline: 1px solid red;
                display: flex;
                margin-bottom: 16px;
                p {
                    // outline: 1px solid red;
                    font-size: map-get($font-size, p);
                    margin-left: 10px;
                    letter-spacing: $letter-spacing;
                    font-family: $font-noto;
                }
            }
        }
        button {
            border: none;
            padding: 15px 90px;
            background-color: #7f1023;
            a {
                text-decoration: none;
                color: #ffffff;
                letter-spacing: $letter-spacing;
            }
        }
        .homeAboutus_BarrelImg {
            width: 390px;
            position: absolute;
            right: -160px;
            bottom: -10px;
            z-index: -1;
            img {
                width: 100%;
            }
        }
    }
}
// event輪播圖
.eventleftline {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin-top: 20px;
    // outline: 1px solid red;
}
.eventrightline {
    width: 100px;
    height: 1px;
    background-color: #000000;
    margin-top: 20px;
}
.wrap_eventTitle {
    // outline: 1px solid red;
    display: flex;
    justify-content: center;
}
.eventTitle {
    margin: 0 10px;
    // outline: 1px solid red;
}

// swiper
.swiper {
    width: 100%;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.img-wrap {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
    .card-ribbon {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 15px;
        color: $white;
        background-color: $gray;
        padding: 5px 15px;
        // aspect-ratio: 2.7/1;
        display: flex;
        justify-content: center;
    }
    .book-now {
        position: absolute;
        display: flex;
        width: 100%;
        height: 40px;
        bottom: -40px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        background-color: $white-transp;
        color: #000000;
        transition: bottom 0.3s ease-in-out;
    }
    &:hover .book-now {
        bottom: 0;
        cursor: pointer;
    }
}
.img-wrap .img-wrap .card-ribbon p {
    align-content: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #000000;
}
.slide-content {
    text-align: center;
}

.slide-content img {
    width: 100%;
    height: auto;
}

.slide-content p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
h4 {
    text-align: left;
}
p {
    text-align: left;
}
