//麵包屑
.frontPage-bread a{
  color: black;
  text-decoration: none;
  font-size: 12px;
 }

 //標題
.product-title-filter {  
   .our-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      .product-title-wrap {
        display: flex;
        align-items: center;
        padding-top: $pad-1;
        padding-bottom: $pad-2;
        h2 {
             font-family: $font-cormorant;
             padding: 0 30px;
          @include t() {
              padding: 0 20px;
          }

          @include m() {
              padding: 0 10px;
          }
        }
       .line {
            background-color: $gray;
            width: 161.003px;
            height: 1px;

         @include t() {
            width: 120px;
            height: 0.7px;
          }

          @include m() {
            width: 85px;
          }


        }
      }
   }
   .filter-blocks-sm{
    display: none;
   }

// 篩選按鈕
  .filter-blocks{
    .selected-filters {
       display: flex;
       justify-content: center;
       padding: 0 15% 3% 20%;
      .selected-filter {
        display: inline-block;
        background-color: #f0f0f0;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 15px;
       .selected-filter i {
         margin-left: 5px;
         cursor: pointer;
       }
     }
    }
  
     .filter-block{
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 0 0 5% 0;

      @include t() {
        gap: 10px;
      }
  
    .filters {
       display: flex;
       justify-content: center;
       gap: 20px;

       @include t() {
        display: block;
        gap: 10px;
      }
  
      .filter {
       position: relative;

       @include t() {
        margin-bottom: 10px;
      }
  
       .filter-button {
        width: 200px;
        padding: 7px 0px;
        background-color: #FFFFFF;
        color: black;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        .button-text{
           margin-left: 5px;
        }
        .fa-solid {
          margin-right: 5px;
          font-size: 12px;
      }
     }
    }
   }
  }
}

// 手機版篩選按鈕
   @include m() {
    .filter-blocks{
      display: none;
    }

    .filter-blocks-sm{
       display: block;

     .selected-filters-sm {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 10% 8% 10%;

      .selected-filter-sm {
         display: inline-block;
         background-color: #f0f0f0;
         padding: 5px 10px;
         margin: 5px;
         border-radius: 15px;

       .selected-filter-sm i {
          margin-left: 5px;
        cursor: pointer;
      }
    }
  }
  .filter-block-sm{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 6%;

   .filter-sm {
      position: relative;
   
    .filter-button-sm {
       width: 150px;
        padding: 7px 0px;
        background-color: #FFFFFF;
        color: black;
        border: none;
        cursor: pointer;
        align-items: center;
        text-align: center;
   
         .button-text-sm{
            margin-left: 5px;
         }
       }
     }
    }
  }
 }



//  手機版篩選選單
 @include m() {
  .menu-filter-sm{
     background-color: #EDE7DE;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 999;

     .menu-filter-header-sm{
        height: 70px;
        background-color: black;
        position: relative;
        h3{
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .menu-filter-item-sm{
          display: flex;
          padding: 2%;
          position: relative;
        .menu-filter-close-sm{
            margin-left: 5px;
          }
        .menu-filter-clear{
           position: absolute;
           right: 10px;
       }
     }

    .menu-filter-options-sm{
     .line-sm{
      background-color: gray;
      width: 100%;
      height: 1px;
      margin: auto;
     }

       .menu-filter-title-sm{
         text-align: center;
         padding: 5%;
         margin: 2%;
       }

      .menu-filter-content-sm ul{
        padding-left: 3%;
        padding-bottom: 5%;

        li{
          padding: 3%;
          cursor: pointer;
          display: flex;
          align-items: center;

          label{
            margin-left: 2%;
          }
        }
      }
      .menu-filter-outcome-sm{
        text-align: center;

        height: 45px;
        background-color: black;
        position: relative;
        h3{
          color: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }






      }
     } 
    }
  }
 }


//選單樣式
 .menu-filter ul {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #DFD4C3;
    border: 1px solid #ddd;
    list-style: none;
    width: 100%;
    padding-top: 5px;
    box-shadow: 3px 3px 5px #322d2641;
    z-index:1;

      li {
        padding: 10px;
        cursor: pointer;
        input {
         margin-bottom: 8px;
         margin-right: 5px;
        }
        .menu-filter-button{
         background-color: #322D26;
         color: white;
         padding: 5px 8px;
        }
       }
}


// 商品卡片
.product-cards{
    margin-bottom: 80px;
      .product-card{
        .product-img {
          position: relative;
          width: 100%;
          aspect-ratio: 5/2;
          img {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 200px;

            @include t() {
              bottom: -10%;
              height: 180px;
            }
          }
        }
     }
        .product-card .add-card {
            background-color: #322D26;
            font-family: "DM Sans", sans-serif;
     }
        .info-wrap a{
             color: black;
             text-decoration: none;
            }
}


    