.frontPage-bread a, .product-bread a{
  color: black;
  text-decoration: none;
  font-size: 12px;
 }


.section-product-detail-sm, 
.section-liked-products-sm{
    display: none;
}
.section-product-detail .container{
  width: 100%;

// 酒的圖片
.product-detail{
    display: flex;
    position: relative;
    .detail-img{
        width: 50%;   
      .detail-img-wrap{
        background-image: url('../src/assets/img/wine/Background-image.png');
        background-size: contain;  /* 使用 contain 讓背景圖依照比例縮小 */
        background-position: center;
        background-repeat: no-repeat;
        background-position: top left 5%;
        position: fixed;
        left: 20vh;
        bottom: 5vh;
      img{
        width: 100%;
        height: 70vh;
        object-fit: cover; /* 讓圖片按照比例放大來適應容器 */
     }

    }
  }


//酒的詳細資訊
   .product-info-wrap{
      width: 50%;
      line-height: 25px;
    .detail-item{
        padding: 15px;
    }
    .detail-button{
        display: flex;
        position: relative;
      .amount {
        background-color: $white;
         & > button {
          font-size: map-get($font-size, a);
          padding: 10px 23px;
          background-color: $white;
          cursor: pointer;
          color: $gray;
          border: none;
        }
        .num {
          position: absolute;
          transform: translate(0, 35%);
          margin: auto;
          display: inline-block;
          background-color: transparent;
          font-size: map-get($font-size, a);
        }
      }
    .small-btn-primary{
        margin-left: 20px;
      }
    }
    .line {
        width: 45vw;
        height: 1.5px;
        background-color: $gray;
        margin: 30px 5px;

    }
    .container .product-title{
       text-align: center;
        padding: 30px 0;
        margin: 20px 0;
     }
   }



 }
}

@include t() {
   .section-product-detail{
    display: none;
   }

   .section-product-detail-sm, 
   .section-liked-products-sm{
    display: block;
    padding: 40px 0;
}

//酒的圖片和詳細資訊
.section-product-detail-sm{
    .detail-img-sm{
        width: 90%;
        margin: auto;
      .detail-img-wrap-sm{
        background-image: url('./src/assets/img/wine/Background-image.png');
        background-size: contain;  /* 使用 contain 讓背景圖依照比例縮小 */
        background-repeat: no-repeat;
        margin-bottom: 20px;
        img{
            width: 100%;
            object-fit: cover; /* 讓圖片按照比例放大來適應容器 */
         }
      }
    }
    .product-info-wrap-sm{
        width: 90%;
        line-height: 25px;
      .detail-item-sm{
          padding: 10px;
      }
    }

    .detail-button-sm{
        padding: 10px;
        display: flex;
        gap: 30px;
        
       .amount-sm {
         background-color: $white;
         position: relative;
         width: calc(50% - 15px);

          & > button {
            font-size: map-get($font-size, a);
            padding: 10px 23%;
            background-color: $white;
            cursor: pointer;
            color: $gray;
            border: none;

            @include t() {
              padding: 10px 22.5%;
            }
         }
         .num-sm {
          position: absolute;
          transform: translate(0, 65%);
          margin: auto;
          display: inline-block;
          background-color: transparent;
          font-size: map-get($font-size, a);

          @include t() {
            transform: translate(0, 80%);
          }

         }
       }
       .add-card-sm{
        width: calc(50% - 15px);
        background-color: #322D26;
        color: $white;
        padding: 10px 27px;
        border: 0
      }
    }

 }

 //可能喜歡的商品
 .section-liked-products-sm{
    .product-title{
        text-align: center;
    }
 }
}



// .product-detail{
//     display: flex;
//     position: relative;
//     .detail-img{
//         width: 50%;   
//         .detail-img-wrap{
//              padding: 0 10%;
//              background-image: url('./src/assets/img/wine/Background-image.png');
//              background-size: contain;  /* 使用 contain 讓背景圖依照比例縮小 */
//              background-position: center;
//              background-repeat: no-repeat;
//              background-position: top left 10%;
//              position: fixed;
//             //  transform: translate(5%, -10%);

//              img{
//                 width: 100%;
//                 // height: auto;
//                 height: 72vh;
//                 object-fit: cover; /* 讓圖片按照比例放大來適應容器 */


//              }
             
//         }

//     }

//     .product-info-wrap{
//         width: 50%;
//         line-height: 25px;

//         .detail-item{
//             padding: 15px;
//         }

//         .detail-button{
//             padding: 15px;
//             display: flex;

//             .amount {
//                 background-color: $white;
//                 position: relative;
//                 & > button {
//                   font-size: map-get($font-size, a);
//                   padding: 7px 20px;
//                   background-color: $white;
//                   cursor: pointer;
//                   color: $gray;
//                 }
//                 .num {
//                   position: absolute;
//                   top: 50%;
//                   transform: translate(0, -50%);
//                   display: inline-block;
//                   background-color: transparent;
//                   font-size: map-get($font-size, a);
//                 }
//               }

//             .add-card{
//                 margin-left: 20px;
//                 background-color: #322D26;
//                 color: $white;
//                 padding: 7px 27px;
//                 border: 0
//             }
//         }

//         .line{
//             width: 600px;
//             height: 1.5px;
//             margin: 30px 5px;
//         }

//         .container .product-title{
//             text-align: center;
//             padding: 30px 0;
//             margin: 20px 0;
//         }
//     }
// }