.footer {
  background-color: #7f1023;
  .footer_wrapper {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .footer_logo {
    padding: 50px 0;
    flex-grow: 1;
    img {
      width: 250px;
    }
  }
  .wrap_contactus_aboutus {
    display: flex;
    width: 350px;
    justify-content: space-between;
    .footer_contactus {
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
        letter-spacing: $letter-spacing;
        font-size: $a-font-size;
        line-height: 2;
        font-family: $font-dm;
      }
    }
    .footer_aboutus {
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
        letter-spacing: $letter-spacing;
        font-size: $a-font-size;
        line-height: 2;
        font-family: $font-dm;
      }
    }
  }
}
.tibame {
  padding: 50px 0;
  background-color: black;
  p {
    letter-spacing: $letter-spacing;
    text-align: center;
    color: #fff;
  }
}
