.flow {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $bgc;
    position: relative;
    .material-symbols-outlined {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: $gray;
    }
  }
  .dot {
    position: absolute;
    border: 4px dashed #efefef;
    width: 660px;
    z-index: -1;
  }
}

.wrap {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 20px;
  .text {
    width: 100px;
    text-align: center;
    color: $gray;
    font-size: map-get($font-size, p);
  }
}
