// 表單流程
.form_flow {
    display: flex;
    justify-content: center;

    .flow {
        width: 100px;
        height: 150px;
        position: relative;

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: $invalid-button-color;

            .material-symbols-outlined {
                position: absolute;
                left: 50%;
                top: 20%;
                transform: translate(-50%, 0);
                font-size: 50px;
                color: $white;
            }

            .wrap_text {
                position: absolute;
                bottom: 0;

                .text {
                    width: 100px;
                    text-align: center;
                    color: $gray;
                    font-size: map-get($font-size, p);
                }
            }
        }
    }

    .box {
        position: relative;
        width: 100px;
        height: 100px;

        .dot {
            border: 4px dashed $invalid-button-color;
            width: 100px;
            height: 0;
            top: 50%;
            position: absolute;
        }
    }

    .box:nth-child(4) {
        display: none;
    }
}

// 註冊會員表單
.signup_container {
    max-width: $max-width;
    width: 100%;
    margin: auto;

    @include t {
        width: 80%;
        margin: auto;
    }

    .wrap_signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px auto;

        form {
            margin: auto;

            .form_item_list {
                display: flex;
                border-bottom: 2px solid #FFFFFF;
                background-color: $secondary-botton-color;

                .form_item {
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include t {
                        // width: 150px;
                        width: 90%;
                    }

                    label {
                        font-size: 24px;
                        color: white;
                        background-color: $secondary-botton-color;
                        padding: 10px 20px;
                        display: block;
                        text-align: center;
                        @include t {
                            font-size: 14px;
                            padding: 15px 20px;
                            display: block;
                            text-align: center;
                        }
                    }
                }

                .form_box {
                    width: 450px;
                    background-color: #F8F5F2;
                    position: relative;

                    // display: flex;
                    // flex-direction: column;
                    @include t {
                        width: 250px;
                    }

                    input {
                        width: 250px;
                        font-size: 14px;
                        display: inline-block;
                        outline: none;
                        border: none;
                        padding: 5px;
                        margin: 10px;

                        @include t {
                            width: 180px;
                        }
                    }

                    .material-symbols-outlined {
                        font-size: 18px;
                        padding-top: 12px;
                        position: absolute;

                        @include t {
                            font-size: 13px;
                            padding-top: 14px;
                            top: 0;
                            right: 15px;
                        }
                    }

                    .form-prompt {
                        color: red;
                        font-size: 12px;
                        display: block;
                        margin-top: 5px;
                        margin: 0 5px 7px 10px;
                        // word-break: break-all; /* 如果需要長字串換行 */
                    }

                    // .address{
                    //     width: 400px;
                    //     @include t { 
                    //         // width: 200px;
                    //     }
                    // }
                    #file_path {
                        font-size: 14px;
                    }
                }
            }
        }

        .form_privacy_policy {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            span {
                display: flex;
                margin: 2px 0;

                @include t {
                    font-size: 14px;
                    margin: 2px;
                }
            }
        }
    }
}