// 按鈕混合器
@mixin big-button($btn-color) {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-family: $font-dm;
  color: $btn-color;
  transition: 0.3s;
  font-size: map-get($font-size, h4);

  &:hover {
    color: darken($btn-color, 20);
  }
}

@mixin small-button($btn-color) {
  @include big-button($btn-color);
  font-size: map-get($font-size, p);
}

// 大按鈕樣式
.big-btn-sand {
  @include big-button($sand);
}

.big-btn-wine {
  @include big-button($wine);
}

.big-btn-gray {
  @include big-button($gray);
}

// 小按鈕樣式
.small-btn-sand {
  @include small-button($sand);
}

.small-btn-wine {
  @include small-button($wine);
}

.small-btn-gray {
  @include small-button($gray);
}