// 按鈕混合器
@mixin button($font-size, $btn-color, $btn-hover-color) {
  border: 0;
  border-radius: 0;
  padding: 7px 27px;
  font-size: $font-size;
  font-family: $font-dm;
  color: $btn-color;
  transition: 0.3s;

  &:hover {
    color: $btn-hover-color;
  }
}

// 大按鈕樣式
.big-btn-sand {
  @include button(h4, $sand, $sand-hover);
}
.big-btn-wine {
  @include button(h4, $wine, $wine-hover);
}
.big-btn-gray {
  @include button(h4, $gray, $gray-hover);
}

// 小按鈕樣式
.small-btn-sand {
  @include button(p, $sand, $sand-hover);
}
.small-btn-wine {
  @include button(p, $wine, $wine-hover);
}
.small-btn-gray {
  @include button(p, $gray, $gray-hover);
}
