.event-card {

    .img-wrap {
        width: 100%;
        position: relative;
        aspect-ratio: 1/1;
        object-fit: cover;
        overflow: hidden;

        img {
            width: 100%;
        }

        .book-now {
            position: absolute;
            display: flex;
            width: 100%;
            height: 40px;
            bottom: -40px;
            justify-content: center;
            align-items: center;
            background-color: $white-transp;
            transition: bottom 0.3s ease-in-out;
        }

        .card-ribbon {
            position: absolute;
            display: flex;
            top: 0;
            left: 0;
            padding: 5px 15px;
            justify-content: center;
            align-items: center;
            color: $white;
            background-color: $gray;
            small {
                font-size: $small;
                // 現在字體大小的變數還沒確定之後可能會改
            }
        }

        &:hover .book-now {
            bottom: 0;
        }
    }
    .font-wrap {
        h4 {
            font-size: $h4;
            // 現在字體大小的變數還沒確定之後可能會改
            margin: 7px 0;
        }

        p {
            margin: 0;
            font-size: $p;
            // 現在字體大小的變數還沒確定之後可能會改
        }
    }

    h4 {
        font-size: $h4;
        // 現在字體大小的變數還沒確定之後可能會改
        margin: 15px 0;
    }
}