//input-text
.text {
  border: 0;
  border-radius: 0;
  padding: 7px 0;
  font-family: $font-dm;
}

.t_toggle {
  display: flex;
  align-items: center;
}

.checkbox {
  border: 0;
  border-radius: 0;
}

.radio {
  border: 0;
  border-radius: 0;
}
