// 按鈕混合器
@mixin big-button($btn-color) {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0;
  padding: 20px 47px;
  font-family: $font-dm;
  color: $white;
  background-color: $btn-color; // 按鈕背景顏色為傳入的顏色變數
  transition: 0.3s;
  font-size: map-get($font-size, h4);
  text-wrap: nowrap;
  cursor: pointer;
  h4 {
    padding: 0;
    margin: 0;
  }
  &:hover {
    background-color: darken($btn-color, 20);
  }
  @include t(){
    padding: 18px 40px;
  }
  @include m(){
    padding: 15px 32px;
  }
}

@mixin small-button($btn-color) {
  @include big-button($btn-color);
  padding: 10px 23px;
  font-size: map-get($font-size, p);
  p {
    padding: 0;
    margin: 0;
  }
  @include t(){
    padding: 10px 23px;
  }
  @include m(){
    padding: 9px 21px;
  }
}

// 大按鈕樣式
.big-btn-primary {
  @include big-button($primary-botton-color);
}

.big-btn-secondary {
  @include big-button($secondary-botton-color);
}

.big-btn-invalid {
  @include big-button($invalid-button-color);
  cursor: not-allowed; // 設置無效按鈕的游標樣式

  &:hover {
    background-color: $invalid-button-color; // 無效按鈕滑鼠移過時不改變背景顏色
  }
}

// 小按鈕樣式
.small-btn-primary {
  @include small-button($primary-botton-color);
}

.small-btn-secondary {
  @include small-button($secondary-botton-color);
}

.small-btn-invalid {
  @include small-button($invalid-button-color);
  cursor: not-allowed;

  &:hover {
    background-color: $invalid-button-color;
  }
}
