// 按鈕混合器
@mixin big-button($btn-color) {
  border: 0;
  border-radius: 0;
  padding: 8px 24px;
  font-family: $font-dm;
  color: $white;
  background-color: $btn-color; // 按鈕背景顏色為傳入的顏色變數
  transition: 0.3s;
  font-size: map-get($font-size, h4);
  cursor: pointer;

  &:hover {
    background-color: darken($btn-color, 20);
  }
}

@mixin small-button($btn-color) {
  @include big-button($btn-color);
  font-size: map-get($font-size, p);
}

// 大按鈕樣式
.big-btn-primary {
  @include big-button($primary-botton-color);
}

.big-btn-secondary {
  @include big-button($secondary-botton-color);
}

.big-btn-invalid {
  @include big-button($invalid-button-color);
  cursor: not-allowed; // 設置無效按鈕的游標樣式

  &:hover {
    background-color: $invalid-button-color; // 無效按鈕滑鼠移過時不改變背景顏色
  }
}

// 小按鈕樣式
.small-btn-primary {
  @include small-button($primary-botton-color);
}

.small-btn-secondary {
  @include small-button($secondary-botton-color);
}

.small-btn-invalid {
  @include small-button($invalid-button-color);
  cursor: not-allowed;

  &:hover {
    background-color: $invalid-button-color;
  }
}
