//sand
$bgc: #eadece !default;
$sand: #d8cdbb;

//wine
$wine: #7f1023 !default;

//gray
$gray: #322d26 !default;

//white
$white: #fff;
$white-transp: hsla(0, 0%, 100%, 0.7);

//按鈕顏色
$primary-botton-color: #322D26;
$secondary-botton-color: #AEA495;
$invalid-button-color: #D5D5D5;

//checkbox和ratio顏色
$interactive-color: #5188F6;
$checkbox-ratio-bgc: #efefef;